.app{
    width: 100%;
    padding: 0.8em 0.9em;
    color:rgba(255, 255, 255, 0.882);
    text-align: center;
}
.img_title{
    max-height: 400px;
    
}

.resident-container {
   column-count: 4;
   border-radius: 1.3em;
   width: 100%;
   padding: 0.8em 1em;
}
.location_info{
    padding: 0.8em;
}